<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>貨幣資料維護</title>
</head>

<body>
	<div class="container" align="center">
		<h2 align="center">更新線上貨幣資料</h2>
		<a th:href="@{/findURL}">上一頁</a>
		<form class="header" th:action="@{/saveURL}" method="POST" th:object="${coin}">
			<div>
				<table>
					<tr>
						<td align="left">
							<label for="code">代號：</label>
						</td>
						<td align="right">
							<input type="text" id="code" name="code" placeholder="請輸入" th:field="*{code}" readonly="readonly">
						</td>
					</tr>
				</table>
			</div>
			
			<div>
				<table>
					<tr>
						<td align="left">
							<label for="symbol">符號：</label>
						</td>
						<td align="right">
							<input type="text" id="symbol" name="symbol" placeholder="請輸入" th:field="*{symbol}">
						</td>
					</tr>
				</table>
			</div>
			
			<div>
				<table>
					<tr>
						<td align="left">
							<label for="rate">匯率：</label>
						</td>
						<td align="right">
							<input type="text" id="rate" name="rate" placeholder="請輸入" th:field="*{rate}">
						</td>
					</tr>
				</table>
			</div>
			
	    	<div>
				<table>
					<tr>
						<td align="left">
							<label for="description">說明：</label>
						</td>
						<td align="right">
							<input type="text" id="description" name="description" placeholder="請輸入" th:field="*{description}">
						</td>
					</tr>
				</table>
			</div>
	    	
	    	<div>
				<table>
					<tr>
						<td align="left">
							<label for="rate_float">利率：</label>
						</td>
						<td align="right">
							<input type="text" id="rate_float" name="rate_float" placeholder="請輸入" th:field="*{rate_float}">
						</td>
					</tr>
				</table>
			</div>
			<div>
	    		<button type="submit" class="confirmBtn">確定</button>
			</div>
		</form>
	</div>
</body>
</html>