<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>貨幣資料維護</title>
</head>

<body>
	<div class="container">
		<h2 align="center">查詢線上貨幣資料</h2>
	</div>
	<div align="center">
		<a th:href="@{/find}">上一頁</a>
		<form th:action="@{/findURL}" method="GET">
	    	<button type="submit" class="queryBtn">查詢URL</button>
	    	<table style="border:1px solid #000; font-family: 微軟正黑體; font-size:16px; width:100%; border:1px solid #000; text-align:center; border-collapse:collapse;">
				<thead>
					<tr>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">功能</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">代號</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">符號</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">匯率</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">說明</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">利率</th>
						<th style="background-color: #009FCC; padding:10px; border:1px solid #000; color:#fff;">更新時間</th>
					</tr>
				</thead>
			
				<tbody>
					<tr th:each="coin : ${coinList}">
						<td style="border:1px solid #000; padding:5px;" align="center">
							<a th:href="@{/editURL/{code}/{symbol}/{rate}/{description}/{rate_float}/
										(code=${coin.code}, symbol=${coin.symbol}, rate=${coin.rate}, description=${coin.description}, rate_float=${coin.rate_float})}">更新</a>
						</td>
						<td style="border:1px solid #000; padding:5px;" th:text="${coin.code}"></td>
						<td style="border:1px solid #000; padding:5px;" th:text="${coin.symbol}"></td>
						<td style="border:1px solid #000; padding:5px;" th:text="${coin.rate}"></td>
						<td style="border:1px solid #000; padding:5px;" th:text="${coin.description}"></td>
						<td style="border:1px solid #000; padding:5px;" th:text="${coin.rate_float}"></td>
						<td style="border:1px solid #000; padding:5px;" th:text="${#dates.format(coin.modify_date, 'yyyy/MM/dd HH:mm:ss')}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>